.header {
  width: 100%;
  margin: 0;
  background-color: var(--color-light);
}

.container {
  width: 79.16%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0 21px;
}

.logo {
  width: 170px;
  height: 32px;
  object-fit: cover;
  object-position: center;
  margin: 0;
}

.mainInfo {
  display: flex;
  align-items: center;
  gap: 32px;
}

.list {
  display: flex;
  align-items: center;
  gap: 23px;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.card {
  display: flex;
  align-items: center;
}

.text {
  font-family: var(--font-gt-eesti-pro-display-bold);
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3px;
  margin: 0;
}

.span {
  font-family: var(--font-gt-eesti-pro-display-light);
}

.button {
  background-color: var(--color-secondary);
  color: var(--color-light);
  margin: 0;
  display: flex;
  align-items: center;
  padding: 13px 22px;
  border-radius: 100px;
  border: none;
}

.button:hover {
  opacity: .7;
}