.hero {
  width: 100%;
  margin: 0;
  background-color: var(--background-color-premium);
}

.container {
  width: 79.16%;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 31px;
  max-width: 640px;
}

.texts {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title {
  font-size: 43px;
  font-family: var(--font-gt-eesti-pro-display-bold);
  margin: 0;
  line-height: 63px;
  letter-spacing: 1%;
}

.subtitle {
  font-family: var(--font-gt-eesti-pro-display-light);
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.3px;
  margin: 0;
}

.button {
  background-color: var(--color-secondary);
  color: var(--color-light);
  margin: 0;
  display: flex;
  align-items: center;
  padding: 13px 22px;
  border-radius: 100px;
  border: none;
}

.button:hover {
  opacity: .7;
}

.group {
  position: relative;
}

.groupCircles {
  max-width: 490px;
  max-height: 480px;
  width: 100%;
  margin: 0;
  position: relative;
}

.firstCircle {
  box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
  background: rgba(250, 250, 250, 1);
  border-radius: 50%;
  width: 480px;
  height: 471px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondCircle {
  width: 347px;
  height: 347px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  background: rgba(253, 253, 253, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1.8px solid rgba(69, 69, 69, 1);
  margin: 0;
  background-color: var(--color-light);
  position: absolute;
  z-index: 10;
}

.arrow.left {
  top: 50%;
  left: 0px;
}

.arrow.right {
  top: 50%;
  right: 0px;
  transform: rotate(180deg);
}

