.navtab {
  width: 100%;
  background-color: var(--color-black);
}

.container {
  width: 79.16%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}

.nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

.link {
  font-family: var(--font-gt-eesti-pro-display-light);
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.3px;
  margin: 0;
  color: var(--color-light);
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  opacity: .7;
}

@media screen and (max-width: 960px) {
  .navtab {
    display: none;
  }
}