.catalog {
  width: 100%;
  margin: 0;
  background-color: var(--color-light);
}

.container {
  max-width: 1140px;
  padding: 0 38px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 0;
  list-style: none;
  padding: 0;
}

.card {
  background-color: var(--background-color-premium);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 30px 34px;
  position: relative;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.heading {
  font-family: var(--font-gt-eesti-pro-display-bold);
  margin: 0;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0.5%;
  text-transform: uppercase;
}

.image {
  width: 216px;
  height: 216px;
  object-fit: cover;
  object-position: top;
}

.subtitle {
  font-family: var(--font-gt-eesti-pro-display-light);
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.3px;
  margin: 0;
}

.button {
  border: 1px solid var(--color-premium);
  color: var(--color-premium);
  background-color: transparent;
  margin: 0;
  display: flex;
  align-items: center;
  padding: 13px 32px;
  border-radius: 100px;
  transition: background-color .3s ease, color .3s ease;
}

.mobileButton {
  display: none;
}

.button:hover {
  background-color: var(--color-premium);
  color: var(--color-light);
}

@media screen and (max-width: 996px) {
  .heading {
    font-size: 20px;
  }

  .subtitle {
    font-size: 14px;
    line-height: 19px;
  }
}

@media screen and (max-width: 900px) {
  .list {
    grid-template-columns: 1fr;
  }

  .image {
    width: 216px;
    height: 216px;
  }
}

@media screen and (max-width: 470px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .mobileButton {
    margin-top: 32px;
    display: flex;
  }

  .decstopButton {
    display: none;
  }

  .image {
    margin: 15px;
  }
}