.section {
  width: 100%;
  background-color: var(--background-color-premium);
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 839px;
  margin: 0 auto;
  padding: 27px 33px;
  text-align: center;
}

.title {
  font-size: 22px;
  font-family: var(--font-gt-eesti-pro-display-bold);
  text-transform: uppercase;
  line-height: 38px;
  letter-spacing: 1px;
  margin: 0;
}